#profile-flex {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 2em;
    padding-top: 5em;
    width: 100%;
}

#profile-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
    width: 100%;
}

#profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

#profile-name-and-badges {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
}

#profile-name-and-badges h2 {
    font-family: "komet-sc", sans-serif;
    font-weight: 700;
    font-style: normal;
}

#profile-name-and-badges>p {
    color: gray;
    font-size: 0.9em;
    font-family: "komet", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-decoration: underline;
}

.seperator {
    width: min(40vw, 900px);
    height: 2px;
    border: none;
    background-color: #9e9e9e;
    align-self: center;
    margin: 0.75em 0;
}

.profile-subpoint>h3{
    font-family: "komet", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: grey;
    font-size: 1em;
    margin-left: 1em;
}

#profile-subpoints {
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.profile-subpoint {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 100%;
}

.profile-point-flex {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
    padding: 1.2em;
    border-radius: 20px;
    border: 1px solid #9e9e9e;
    background-color: rgb(220, 220, 220);
}

.profile-point{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.profile-point-icon-text{
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
    justify-content: center;
    font-family: "komet", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.profile-point-icon{
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#logout{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    align-self: center;
    border: 3px solid rgb(255, 70, 70);
    border-radius: 20px;
    padding: 0.5em 0em;
    color: red;
}

#profile-badge-slider{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(10px);
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.3s ease-in-out opacity;
    opacity: 0;
    z-index: 1005;
    gap: 4em;
    background-color: rgba(255, 255, 255, 0.745);
}

#profile-badge-slider-header{
    font-family: "komet-sc", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1em;
    text-align: center;
    height: fit-content;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

#profile-badge-slider-header>h2{
    color: dodgerblue;
}

#profile-badge-slider-header>p{
    font-size: 0.8em;
}

#close-badge-slider-icon{
    position: absolute;
    top: 20px;
    right: 20px;
    color: black;
    font-size: 1.5em;
    cursor: pointer;
    padding: 0.35em 0.5em;
    border-radius: 50%;
}


#profile-badges{
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: fit-content;
}

.user-badge{
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.user-badge-img{
    width: 80px;
    height: 80px;
}

.user-badge-seperator{
    width: 2px;
    height: 80px;
    background-color: #9e9e9e;
}

.user-badge-info{
    font-family: 'komet', sans-serif;
    font-weight: 400;
    padding: 0.5em;
    border-radius: 10px;
}

#user-badge-content-seperator{
    width: 50vw;
    height: 2px;
    border: none;
    background-color: #9e9e9e;
    align-self: center;
}